<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .button {
            width: 350px;
            height: 70px;
            background-color: darkgrey;
            color: darkorange;
            font-size: medium
        }
    </style>
</head>
<body>
<a th:href="@{/users/{userId}(userId=${user.id})}" style="position: absolute; right: 10px; top: 10px">
    <img th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}"
         style="width:100px;height:100px;object-fit:cover;border-radius:50%" alt="Профиль">
</a>
<a href="/news">
    <button style="width: 380px;
            height: 70px;
            background-color: burlywood;
            color: rebeccapurple;
            font-size: medium">
        Новости
    </button>
</a>
<a href="/market">
    <button style="width: 380px;
            height: 70px;
            background-color: burlywood;
            color: red;
            font-size: medium">
        Рынок
    </button>
</a>
<a href="/chat">
    <button style="width: 380px;
            height: 70px;
            background-color: burlywood;
            color: green;
            font-size: medium">
        Чат
    </button>
</a>


</body>
</html>